/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chars {
  display: flex;
  justify-content: space-between;
  
  
}

.chars-1 {
  margin: 50px;
  width: 250px;
  height: 150px;
  border: 1px solid blue;
}  */

